<!--<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="../../Scripts/angular.js"></script>
    <script src="../../Scripts/angular-route.js"></script>
    <script src="../Scripts/atTheMovies.js"></script>
    <script src="../Scripts/ListController.js"></script>
</head>
<body>
    <div ng-controller="ListController">
        <table>
            <tr ng-repeat="movie in movies">
                <td>{{movie.Title}}</td>
                <td><a href="#/details/{{movie.ID}}">Details</a></td>
            </tr>

        </table>

    </div>
</body>
</html>-->

<div ng-controller="ListController">
    <table class="table table-hover table-striped">
        <tr ng-repeat="movie in movies">
            <td>{{movie.Title}}</td>
            <td>{{movie.Price}}</td>
            <td>{{movie.ReleaseTime}}</td>
            <td>{{movie.level.LevelName}}</td>
            <td><a href="#/details/{{movie.ID}}">Details</a></td>
        </tr>

    </table>

</div>