@using System.Web.Services.Description
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <title>UserRegist</title>
</head>
<body>
    <div class="container">
        <div>
            <form action="/UserInfo/ProcessUserInfo" method="post">
                <div class="form-group">
                    <label for="UserName">UserName</label>
                    <input type="text" class="form-control" name="txtName" id="UserName" placeholder="请输入用户名">
                </div>
                <div class="form-group">
                    <label for="Pwd">Password</label>
                    <input type="password" class="form-control" name="txtPwd" id="Pwd" placeholder="请输入密码">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
        超链接方式1

        <br />
        超链接方式2
        这种方式避免了上面更改路由机制之后要更改所有的链接代码
        <a href="/Home/About">链接到About页面</a>
        <br />
        <a href=@Url.Action("About","Home")>链接到About</a>
        <br />
        超链接方式3
        <br />
        @Html.ActionLink("About页面", "About", "Home", null, new { style = "Color:green", @class = "text-success" })
    </div>
</body>
</html>
